[submodule "lib/json"]
	path = lib/json
	url = git@github.com:nlohmann/json.git
[submodule "lib/arduino"]
	path = lib/arduino
	url = git@github.com:darvik80/rover-arduino.git
[submodule "lib/mqtt"]
	path = lib/mqtt
	url = git@github.com:darvik80/mqtt.git
