@import "varables";

/*
 * Common
 */

.underline {
  text-decoration: underline;
}

.modal {
  // overlay widget
  .loader-wrapper {
    position: absolute;
    z-index: $zindex-modal + 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.error {
  color: $red;
}

/*
 * Sidebar
 */

$sidebar-border: 1px solid rgba(0, 0, 0, 0.1);

.sidebar {
  position: fixed;
  z-index: 100; /* Behind the navbar */
  top: 0;
  bottom: 0;
  left: 0;
  padding: 48px 0 0; /* Height of navbar */
  border-right: $sidebar-border;

  .nav-item .active {
    background-color: $gray-300;
  }

  hr {
    margin: 0.5rem 2rem;
    padding: 1px 0;
  }

  .nav-link {
    padding: 0.5rem 0.9rem;
    color: rgba(0, 0, 0, 0.9);
  }

  .nav-link:hover .feather,
  .nav-link.active .feather {
    color: inherit;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

nav {
  .nav {
    font-size: 0.75rem;
    line-height: 0.9rem;
    max-height: 3rem;
  }

}

.navbar-brand {
  margin-right: 0.2rem;
  border-right: $sidebar-border;
}

/*
 * Content
 */
[role="main"] {
  min-height: 100vh;
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}


.form-control-dark {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

// Header filters

.selected-venture {
  @include text-truncate;
  max-width: 20rem;
}

.selected-account {
  @include text-truncate;
  max-width: 20rem;
}

.selected-campaign {
  @include text-truncate;
  max-width: 16rem;
  max-height: 3rem;
  padding: 0.25rem 0;
  white-space: normal;

  a {
    display: inline;
    padding: 0 0.3rem 0 0;
  }
}

.selected-adgroup {
  @include text-truncate;
  max-width: 20rem;
  max-height: 3rem;
  padding: 0.25rem 0;
  white-space: normal;

  a {
    display: inline;
    padding: 0 0.3rem 0 0;
  }
}

.nav-tabs {
  border-bottom: none;
}

/*
 * Dropzone
 */

.dropzone-wrapper {
  width: 33%;
}

.dropzone {
  line-height: 44px;
  height: 50px;
  text-align: center;
  border: 3px dashed #ddd;
  background: #eee;
}

.dropzone:hover,
.dropzone.active {
  border: 3px dashed #9f9;
  background: #dfd;
}

/*
 * Log
 */

.log {
  padding: 0.5rem;
  color: $white;
  background: $black;
}
