@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Basic
//$font-size-base: 0.875rem;
$font-size-base: 0.8125rem;

//$custom-file-height: calc(#{$input-line-height * 10em} + #{$input-padding-y * 2} + #{$input-height-border});
//$custom-file-height-inner: calc(#{$input-line-height * 10em} + #{$input-padding-y * 2});

$form-group-margin-bottom: $font-size-base;
$custom-control-spacer-x: $font-size-base;
//$custom-control-indicator-size: $font-size-base;
$modal-inner-padding: $font-size-base;
$alert-margin-bottom: $font-size-base;
$spacer: $font-size-base;
$paragraph-margin-bottom: $font-size-base;


// Pagination
$pagination-color: $dark;
$pagination-border-color: $dark;
$pagination-hover-color: $light;
$pagination-hover-bg: $dark;
$pagination-hover-border-color: $dark;

// Custom
$text-google-blue: rgb(26, 115, 232);
$text-google-red: rgb(217, 48, 37);


$google-blue: rgb(26, 115, 232);
$google-red: rgb(217, 48, 37);
