@import './../varables';

.navbar {
  .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .account {
    display: flex;
    padding: 0;

    .nickname {
      margin-top: 0.5rem;
    }
  }
}
